
@media (max-width: 1199.98px) {

}


@media (max-width: 991.98px) {
    .w-50{
        width: 100vw !important;
    }

}

@media (max-width: 767.98px) {

}


@media (max-width: 575.98px) {
    .content h3{
        font-size: 20px;
    }
    .centered-v {
        position: relative;
        padding: 0 !important;
        top: 10%;
        left: 0%;
        transform: translate(0%);
        -webkit-transform: translate(0);
    }
    /* #container .box > .content {
        padding: 10px 25px !important;
    } */
    #container .box.two > .content {
        padding: 0 !important;
    }
    .one {
        width: 88vw !important;
    }
    .two{
        width: 46vh !important;
    }
    .modal .info-text h2{
        font-size: 20px;
    }
    ul.list-cs li {
        font-size: 16px;
    }
    .full0img img{
        height: 140px;
    }
    .c-divider{
        width: calc(50vw + 60px) !important;
    }
    .modal-body{
        padding: 40px;
    }
    .modal-body .info-text{
        margin-top: 0px;
    }
    .modal .centered-v{
        top: 0;
    }
    #container .box > .content{
        padding: 50px 25px;
    }
    .info-text h2{
        height: 60px;
        font-size: 22px;
    }
    .info-text a{
        font-size: 15px;
    }

}

@media (max-width: 380px) {

}
