@import url('font-awesome.min.css');

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Funkturm';
    src: url('../fonts/Funkturm.eot');
    src: url('../fonts/Funkturm.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Funkturm.woff') format('woff'),
        url('../fonts/Funkturm.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


.font-second{
    font-family: "Funkturm";
}


h1, h2, h3{
    font-family: "Funkturm";
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

.link-blue{
    color: #006CB1 !important;
}

.text-30{
    font-size: 30px;
}


body{
    font-family: 'Futura PT';
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

#container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}
#container .box > .content {
  font-size:18px;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  white-space: normal;
  padding: 50px;
  padding-top: 75px;
}

#container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}

.one {
  background-color: #439bd3;
  width: 95vw !important;
}
.one.last{
    background-color: #006cb7;
}
.last .info-text h4{
    font-family: 'Funkturm';
    letter-spacing: 2px;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.two {
  background-color: #006CB1;
  width: calc(15vw + 60px) !important;
}
.four{
    background-color: #fff;
}


.content .img-scroll{
    height: 100vh;
}


.three {
  background-color: #006CB1;
}


.centered-v {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.w-50{
    width: 50vw !important;
}

.link-blue{
    color: #006CB1;
}

.text-blue{
    color: #006cb1 !important;
}
.text-blue .info-text a:hover{
    color: #006CB1;
    opacity: 0.6;
}
.fenomena {
    width: 260px;
}

.fenomena-s {
    width: 307px;
}

.text-blue{
    color: #006CB1;
}

.fenomena{
    width: 243px;
}

.fenomena-s{
    width: 355px;
}

.mapsa{
    width: 355px;
}

.haj{
    width: 263px;
}

.kpu{
    width: 209px;
}

.dukabola{
    width: 197px;
}

.ratna{
    width: 257px;
}

.thx{
    font-size: 40px;
}

.bg-arrow{
    background: url('../../img/arrow.png') no-repeat center center;
    background-size: cover;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../../img/klik.png");
    right: 0;
    left: auto;
    top: 0;
    bottom: 0;
    background-size: cover;
    height: 100%;
    width: 46px;
    margin-top: 0;
}

ul.list-cs {
    padding-left: 15px;
    margin-top: -1px;
    font-family: 'Futura PT';
    font-style: normal;
    font-size: 20x;
}


ul.list-cs li {
    position:relative;
    margin-bottom: 0;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    list-style: none;
    background: url('../img/misc/list-bullet-darkgray.png') no-repeat;
}

ul.list-cs li a{
    font-family: 'Funkturm';
    letter-spacing: normal;
    text-decoration: underline;
}
ul.list-cs li a:hover{
    color: #006CB1;
    opacity: 0.6;
}
ul.list-cs li:after {
    content: url('../../img/elipse.png');
    position: absolute;
    left: -15px;
    top: 0px;
}

ul.list-cs.blue li:after {
    content: url('../../img/elipse-blue.png');
    position: absolute;
    left: -15px;
    top: 0px;
}

ul.list-cs li:before {
    content:"";
    position: absolute;
    left: -11px;
    border-left: 2px solid #fff;
    height: 100%;
    width: 1px;
    top: 15px
}

ul.list-cs.blue li:before {
    content:"";
    position: absolute;
    left: -11px;
    border-left: 2px solid #006CB1;
    height: 100%;
    width: 1px;
    top: 15px
}

ul.list-cs li:first-child:before {
   top: 15px
}

ul.list-cs li:last-child:before {
   height: 4px;
}

.mobile-swipe{
    display: none;
}

.centered-v{
    position: absolute;
    top:50%;
    left: 0%;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
    border-radius: 0;
    background-color: rgba(255,255,255,.96);
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal-body{
    padding: 5rem 10rem;
}    
.c-divider {
    width: calc(15vw + 60px) !important;
    z-index: 9; 
}
.c-divider span.mobile{
    display: none;
}
.c-divider span{
    font-family: "Funkturm";
    color: #006CB1;
}
.c-divider__arrows:before {
    background-image: linear-gradient(45deg, #fff 25%, #006CB1 25%, #006CB1 50%, #fff 50%, #fff 75%, #006CB1 75%, #006CB1) !Important;
   
}
.c-divider__arrows:after {
    background-image: linear-gradient(45deg, #fff 25%, #006CB1 25%, #006CB1 50%, #fff 50%, #fff 75%, #006CB1 75%, #006CB1) !Important;
}

.info-element{
    width: 100%;
}
.info-element img{
    width: 400px;
}
.info-text{
    margin-top: 35px;
}
.info-text a{
    display: inline-flex;
    font-family: "Futura PT";
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    text-decoration: none;
}
.info-text .list-cs{
    font-size: 18px;
    color: #006cb1;
}
.info-text .list-cs li{
    padding-bottom: 12px;
    padding-left: 10px;
}
.info-text a:hover{
    color: #fff;
    opacity: 0.6;
}
.info-text h2{
    font-family: "Funkturm"; 
    font-size: 26px;
    margin-bottom: 16px;
}
.content .centered-v{
    padding: 50px;
}


img.arrow {
    -webkit-animation: mover 0.7s infinite  alternate;
    animation: mover 0.7s infinite  alternate;
    padding-left: 25px;
    width: 48px;
    height: 24px;
}
img.animated {
    -webkit-animation: moverTop 1s infinite  alternate;
    animation: moverTop 1s infinite  alternate;
}
@-webkit-keyframes moverTop {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@keyframes moverTop {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@-webkit-keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}
@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}

button.close{
    font-size: 40px;
    top: 35px;
    right: 35px;
    z-index: 999;
}

.ilustrasi{
    margin-top: 15%;
}
.ilustrasi img{
    width: 80%;
}
.modal .info-text{
    margin-top: 50px;
}

.modal .info-text h2{
    margin-bottom: 18px;
    color: #006CB1;
}
